body {
  text-align: center;
  color: black;
}
ul {
  list-style: none;
}
li {
  font-size: 20px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: rgb(153, 6, 6);
}
a:hover {
  color: red;
}