h1, #about {
  text-align: center;
}
img {
  height: auto;
  width: 300px;
}
ol > li {
  margin-top: 8px;
}
a {
  text-decoration: none;
  color: rgb(153, 6, 6);
}
a:hover {
  color: red;
}
nav {
  position: fixed;
  background: white;
  text-align: center;
  right: 0;
  top: 0;
  border: 2px black solid;
  border-radius: 90% 0 0 90%;
  padding: 1px;
}
#nav {
  list-style: none;
}
#nav > li {
  margin-top: 5px;
}